# vs
.vs/
*.user
*.suo

# Build outputs
**/bin/
**/obj/

# CSV 
TripAnalytics.API/Resources/yellow_tripdata_2015-01.csv

# docker
postgres_data/

# Secrets
TripAnalytics.API/appsettings.json
TripAnalytics.API/appsettings.Development.json